@import "../../../../../styles/variables";

.loader {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  z-index: 10000000000;
  height: 2px;
  background-color: $darkPrimaryColor;
  animation-name: loader;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
