@import "../../../../../styles/variables";

.sidebar {
  overflow: hidden;
  padding: 5px 10px;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  .nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
