@import "../../../styles/variables";

.suspenseSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .spinner {
    $size: 50px;

    height: $size;
    width: $size;
  }
}
