@import "../../../../../styles/variables";

.sidebar {
  height: 100%;
  min-width: 235px;
  max-width: 100vw;
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 300ms;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-color);
  z-index: 10000;
  display: flex;

  &.open {
    left: 0;
  }
}
