.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.columnLayout {
  display: flex;
  flex-direction: row;
  min-height: 0;
  flex-grow: 1;
  position: relative;
}
