@import "../../../styles/variables";

.layout {
  width: 100%;
  display: flex;
  justify-content: center;

  .form {
    margin-top: 50px;
    height: auto;
    max-width: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      width: 100%;
    }
  }

  .tabs {
    width: 100%;
    display: flex;
    margin-bottom: 10px;

    .tab {
      flex-grow: 1;
      text-align: center;
      padding: 10px 0;
      border-bottom: var(--primary-color) 2px solid;
      text-decoration: none;
      color: var(--color);
      transition: background-color 200ms;
      font-size: .9em;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);

        @media (prefers-color-scheme: dark) {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      &.selected {
        background-color: rgba(0, 0, 0, 0.1);

        @media (prefers-color-scheme: dark) {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .error {
    font-size: .9em;
    background-color: $paletteRed;
    color: darken($paletteRed, 45%);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
}
