@import "../../../../../styles/variables";

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $bottomNavHeight;
  overflow: hidden;
  padding: 5px 10px;
  background-color: var(--background-color);
  color: var(--sidebar-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10000;
}
