@import "../../../styles/variables";

.columnDragger {
  width: 3px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: ew-resize;

  &:hover {
    background: $listSelectedBg;
  }
}
