@import "../../../../../../../styles/variables";

.logo {
  font-size: .9em;
  user-select: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: $darkSidebarColor;
  text-decoration: none;

  &:hover {
    color: $darkSidebarColor;
  }
}

.mobileWrapper {
  flex-basis: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
