html, body {
  transition: background-color 200ms, color 200ms;
}

.loading-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: .4;
  width: 50vw;
  max-width: 500px;
}
