@import "@alexseifert/frontend-library/styles/variables";

$toolbarHeightLgUp: 60px;
$toolbarHeightMdDown: 55px;
$toolbarShadowOffset: 10px;

$darkSidebarBg: #000000;
$lightSidebarBg: $lightBg;
$darkSidebarColor: #e0e0e0;
$lightSidebarColor: $lightColor;

$listSelectedBg: #98bbd4;
$listSelectedDarkBg: $darkPrimaryColor;

$bottomNavHeight: 60px;
