@import "@alexseifert/frontend-library/styles/variables";

$toolbarHeightLgUp: 60px;
$toolbarHeightMdDown: 55px;
$toolbarShadowOffset: 10px;

$listSelectedBg: #98bbd4;
$listSelectedDarkBg: $darkPrimaryColor;

$bottomNavHeight: 60px;
