@import "./variables";

:root {
  --toolbar-height: #{$toolbarHeightLgUp};
}

@media (max-width: $mdMax) {
  :root {
    --toolbar-height: #{$toolbarHeightMdDown};
  }
}

#root {
  height: 100%;
  width: 100%;
}
