.errorPage {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;

  .logo {
    $size: 225px;
    height: $size;
    width: $size;
  }

  h1 {
    margin-bottom: 45px;
  }
}
